
@{
    Layout = "~/Views/Shared/CoordinatorLayout.cshtml";
    ViewBag.Title = "Index";
}

<h2>Coordinator Page</h2>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Manage Accounts</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a class="text-success" href="@Url.Action("ManageTopic","Coordinator")">Go &#8811;</a>
            </div>
        </div>
    </div>

