
@{
    ViewBag.Title = "Chart";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="text-center">
    <h2>Chart</h2>
</div>
<hr>
<div class="text-center mb-5">
    <div class="p-2">
        <img src="@Url.Action("Barchart", "Admin")">
    </div>
    <div class="p-2">
        <img src="@Url.Action("Barchart1", "Admin")">
    </div>
</div>